# Compiled class files
*.class

# Log files
*.log

# Package files
*.jar
!sd23.jar
*.war
*.ear
!/JobExamples/*.class
# Maven target directory
target/

# IntelliJ IDEA files
.idea/

# Eclipse files
.classpath
.project
.settings/
/bin